body {
  background: url("/icons/img16.jpg");
}

.bg-black {
  background: #fcfcfc89;
}

.bg-secundario {
  background: #dcdad682;
}


/*** ESTILOS BOTÓN GROW ELLIPSE ***/
.ov-btn-grow-ellipse1 {
  background: #ffffff2e;
  /* color de fondo */
  color: #000008;
  /* color de fuente */
  border: 1px solid #fbfbfb33;
  /* tamaño y color de borde */
  padding: 10px 18px;
  border-radius: 18px;
  /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.ov-btn-grow-ellipse1:hover {
  color: #fff;
  /* color de fuente hover */
}

.ov-btn-grow-ellipse1::after {
  content: "";
  background: #19d3d6c5;
  /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  border-radius: 40%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  transform: scale(0, 0);
  transition: all 0.4s ease;
}

.ov-btn-grow-ellipse1:hover::after {
  transition: all 0.6s ease-out;
  transform: scale(1, 1);
}




/*** ESTILOS BOTÓN GROW ELLIPSE PARA REGRESAR DE PAGINA ***/
.ov-btn-grow-ellipse2 {
  background: #ffffff50;
  /* color de fondo */
  color: #000008;
  /* color de fuente */
  border: 1px solid #fbfbfb40;
  /* tamaño y color de borde */
  padding: 10px 18px;
  border-radius: 18px;
  /* redondear bordes */
  position: relative;
  z-index: 1;
  overflow: hidden;
  display: inline-block;
}

.ov-btn-grow-ellipse2:hover {
  color: #fff;
  /* color de fuente hover */
}

.ov-btn-grow-ellipse2::after {
  content: "";
  background: #d61919c5;
  /* color de fondo hover */
  position: absolute;
  z-index: -1;
  padding: 16px 20px;
  display: block;
  border-radius: 40%;
  left: -50%;
  right: -50%;
  top: -150%;
  bottom: -150%;
  transform: scale(0, 0);
  transition: all 0.4s ease;
}

.ov-btn-grow-ellipse2:hover::after {
  transition: all 0.6s ease-out;
  transform: scale(1, 1);
}
